body {
  background-color: green;
}
.container-fluid {
  display: flex;
  justify-content: center;
  align-items: center;
}

div {
  font-size: 9.375rem;
}

button {
  display: block;
  margin: auto;
  margin-top: 20px;
  padding: 10px;
  border-radius: 40px;
}
